@charset "UTF-8";
/* 
  HTML5 ✰ Boilerplate 
  
  style.css contains a reset, font normalization and some base styles.
  
  credit is left where credit is due.
  much inspiration was taken from these projects:
    yui.yahooapis.com/2.8.1/build/base/base.css
    camendesign.com/design/
    praegnanz.de/weblog/htmlcssjs-kickstart
*/
/* 
  html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
  v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark
  html5doctor.com/html-5-reset-stylesheet/
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/* END RESET CSS */
/* fonts.css from the YUI Library: developer.yahoo.com/yui/
   Refer to developer.yahoo.com/yui/3/cssfonts/ for font sizing percentages

  There are three custom edits:
   * remove arial, helvetica from explicit font stack
   * we normalize monospace styles ourselves
   * table font-size is reset in the HTML5 reset above so there is no need to repeat
*/
body {
  font: 13px/1.231 sans-serif;
  *font-size: small; }

/* hack retained to preserve specificity */
select, input, textarea, button {
  font: 99% sans-serif; }

/* normalize monospace sizing 
 * en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome
 */
pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

/* 
 * minimal base styles 
 */
body, select, input, textarea {
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
  color: #444;
  /* set your base font here, to apply evenly */
  /* font-family: Georgia, serif;  */ }

/* Headers (h1,h2,etc) have no default font-size or margin,
   you'll want to define those yourself. */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

/* always force a scrollbar in non-IE */
html {
  overflow-y: scroll; }

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active {
  outline: none; }

a, a:active, a:visited {
  color: #4c5e71; }

a:hover {
  color: #036; }

ul, ol {
  margin-left: 1.8em; }

ol {
  list-style-type: decimal; }

/* Remove margins for navigation lists */
nav ul, nav li {
  margin: 0; }

small {
  font-size: 85%; }

strong, th {
  font-weight: bold; }

td, td img {
  vertical-align: top; }

sub {
  vertical-align: sub;
  font-size: smaller; }

sup {
  vertical-align: super;
  font-size: smaller; }

pre {
  padding: 15px;
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */ }

textarea {
  overflow: auto; }

/* thnx ivannikolic! www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */
.ie6 legend, .ie7 legend {
  margin-left: -7px; }

/* thnx ivannikolic! */
/* align checkboxes, radios, text inputs with their label
   by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom; }

.ie7 input[type="checkbox"] {
  vertical-align: baseline; }

.ie6 input {
  vertical-align: text-bottom; }

/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button {
  cursor: pointer; }

/* webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0; }

/* colors for form validity */
input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red; }

.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
  background-color: #f0dddd; }

/* These selection declarations have to be separate.
   No text-shadow: twitter.com/miketaylr/status/12228805301 
   Also: hot pink. */
::-moz-selection {
  background: #B14A1F;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #B14A1F;
  color: #fff;
  text-shadow: none; }

/*  j.mp/webkit-tap-highlight-color */
a:link {
  -webkit-tap-highlight-color: #FF5E99; }

/* make buttons play nice in IE:    
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {
  width: auto;
  overflow: visible; }

/* bicubic resizing for non-native sized IMG: 
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img {
  -ms-interpolation-mode: bicubic; }

/* 
 * Non-semantic helper classes 
 */
/* for image replacement */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr; }

/* Hide for both screenreaders and browsers
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden {
  display: none;
  visibility: hidden; }

/* Hide only visually, but have it available for screenreaders 
   www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden  */
.visuallyhidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden; }

/* >> The Magnificent CLEARFIX: Updated to prevent margin-collapsing on child elements << j.mp/bestclearfix */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden; }

.clearfix:after {
  clear: both; }

/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix {
  zoom: 1; }

/*

  Usage
  -----
  In your main scss file, add the following three lines.
    $show-grid: true;
    $container-id: container;
    @import "grid";

  To hide the grid background and borders, change the first line to
    $show-grid: false;
  
  Then you get a series of classes named .col-1, .col-2, .col-3, etc. which you can use in your markup

*/
/* Colour definitions */
.col-1 {
  width: 100px;
  margin-left: 20px;
  display: block;
  float: left;
  display: inline; }

.col-2 {
  width: 220px;
  margin-left: 20px;
  display: block;
  float: left;
  display: inline; }

.col-3 {
  width: 340px;
  margin-left: 20px;
  display: block;
  float: left;
  display: inline; }

.col-4 {
  width: 460px;
  margin-left: 20px;
  display: block;
  float: left;
  display: inline; }

.col-5 {
  width: 580px;
  margin-left: 20px;
  display: block;
  float: left;
  display: inline; }

.col-6 {
  width: 700px;
  margin-left: 20px;
  display: block;
  float: left;
  display: inline; }

.col-7 {
  width: 820px;
  margin-left: 20px;
  display: block;
  float: left;
  display: inline; }

.col-8 {
  width: 940px;
  margin-left: 20px;
  display: block;
  float: left;
  display: inline; }

.push-1 {
  margin-left: 140px; }

.push-2 {
  margin-left: 260px; }

.push-3 {
  margin-left: 380px; }

.push-4 {
  margin-left: 500px; }

.push-5 {
  margin-left: 620px; }

.push-6 {
  margin-left: 740px; }

.push-7 {
  margin-left: 860px; }

.push-8 {
  margin-left: 980px; }

.first {
  margin-left: 0px; }

.colborder {
  padding-right: 9px;
  margin-right: -11px;
  border-right: 1px solid #EDEDED; }

.wrapper {
  width: 960px;
  padding-right: 20px; }

.show-grid {
  outline: 2px solid rgba(0, 0, 255, 0.2);
  background-image: -webkit-gradient(linear, left center, right center, from(rgba(0, 0, 0, 0)), color-stop(16.667%, rgba(0, 0, 0, 0)), color-stop(16.667%, rgba(255, 0, 0, 0.2)), to(rgba(255, 0, 0, 0.2)));
  -webkit-background-size: 120px;
  background-image: -moz-repeating-linear-gradient(center left, transparent, transparent 20.0px, rgba(255, 0, 0, 0.2) 20.0px, rgba(255, 0, 0, 0.2) 120px); }

/* Colour definitions */
@font-face {
  font-family: 'droid sans';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/DroidSans-webfont.eot");
  src: url("../fonts/DroidSans-webfont.eot?#iefix") format("eot"), url("../fonts/DroidSans-webfont.woff") format("woff"), url("../fonts/DroidSans-webfont.ttf") format("truetype"), url("../fonts/DroidSans-webfont.svg#webfontw7zqO19G") format("svg"); }

@font-face {
  font-family: 'droid sans';
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/DroidSans-Bold-webfont.eot");
  src: url("../fonts/DroidSans-Bold-webfont.eot?#iefix") format("eot"), url("../fonts/DroidSans-Bold-webfont.woff") format("woff"), url("../fonts/DroidSans-Bold-webfont.ttf") format("truetype"), url("../fonts/DroidSans-Bold-webfont.svg#webfontSOhoM6aS") format("svg"); }

@font-face {
  font-family: 'droid sans mono';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/droidsansmono-webfont.eot");
  src: url("../fonts/droidsansmono-webfont.eot?#iefix") format("eot"), url("../fonts/droidsansmono-webfont.woff") format("woff"), url("../fonts/droidsansmono-webfont.ttf") format("truetype"), url("../fonts/droidsansmono-webfont.svg#webfontcbE9jlbh") format("svg"); }

@media screen and (max-width: 480px) {
  body {
    font-size: 92%; }

  .wrapper {
    width: 455px;
    padding: 0px 10px; }

  .wrapper form fieldset {
    padding: 10px; }

  .wrapper form label {
    display: block;
    float: none;
    text-align: left; }

  .wrapper pre {
    width: 455px;
    float: left; }

  .nav {
    display: none; }

  pre code {
    width: 100%; }

  table {
    word-break: break-word; }

  h1,
  h2,
  h3,
  h4 {
    margin-top: 2em;
    margin-bottom: 0.5em; }

  .header .hgroup h1,
  .header .hgroup h2 {
    margin-top: 0px; }

  h1 + h2 {
    margin-top: 0em; }

  .headingblock {
    background-position-y: 40px !important; }

  .wrapper .main,
  .wrapper .col-2.aside {
    padding: 0px; }

  .wrapper .pullout {
    float: left;
    margin: 0px 0px 10px;
    padding: 10px 0px 10px 10px;
    position: static;
    left: 0px;
    width: 95%; }

  #newsbanner {
    display: none; }

  .wrapper .banner {
    clear: both;
    padding: 0px; }

  .header #headingtext img {
    display: none; }

  .wrapper img {
    max-width: 100%; }

  ul.news li {
    width: 100%; }

  ul.news li a {
    width: 45%; }

  .wrapper .page-preview {
    float: left;
    border-bottom: 1px solid #dfe9f4; }

  .wrapper .page-preview h2 {
    margin: 0px; }

  .wrapper .page-preview img {
    clear: both; }

  .wrapper .page-preview p.button {
    margin-bottom: 20px; }

  .wrapper .polaroid {
    padding: 0px;
    border: 0px;
    box-shadow: none;
    -webkit-box-shadow: none; }

  #g-global-search #g-translate-button {
    display: none; }

  #footernav h3 {
    display: none; }

  body #g-header #g-global-menu li a {
    font-size: 19px;
    white-space: nowrap; }

  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12 {
    width: auto;
    margin-bottom: 15px;
    margin-left: 0px;
    float: none; }

  .footer .col-1,
  .footer .col-2,
  .footer .col-3,
  .footer .col-4,
  .footer .col-5,
  .footer .col-6,
  .footer .col-7,
  .footer .col-8,
  .footer .col-9,
  .footer .col-10,
  .footer .col-11,
  .footer .col-12 {
    margin-left: 20px;
    width: 45%; }

  .wrapper .push-1,
  .wrapper .push-2,
  .wrapper .push-3,
  .wrapper .push-4,
  .wrapper .push-5,
  .wrapper .push-6,
  .wrapper .push-7,
  .wrapper .push-8,
  .wrapper .push-9,
  .wrapper .push-10,
  .wrapper .push-11,
  .wrapper .push-12 {
    margin: 0px; }

  .wrapper form .col-1,
  .wrapper form .col-2,
  .wrapper form .col-3,
  .wrapper form .col-4,
  .wrapper form .col-5,
  .wrapper form .col-6,
  .wrapper form .col-7,
  .wrapper form .col-8,
  .wrapper form .col-9,
  .wrapper form .col-10,
  .wrapper form .col-11,
  .wrapper form .col-12 {
    width: auto;
    margin: 0px; } }

body {
  background: url("../images/backgrounds/blue-blur.jpg") repeat-x 50% 0%;
  margin: 0px;
  font-size: 13px;
  line-height: 1.5; }

.wrapper {
  margin: 0px auto; }

/*  Alternate header styles   */
body.headingblock {
  background: url("../images/backgrounds/blue-blur.jpg") repeat-x; }

body.headingblock .main {
  background: none; }

body .main-block,
body.headingblock .main-block {
  background: url("../images/white-heading-background.png") top right no-repeat;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
  margin-left: 0px; }

body .main-block .aside {
  padding-top: 0px; }

body .main-block #newsbanner {
  position: relative;
  left: -20px; }

/*  Typography  */
h1,
.nav h2,
.aside h2,
.main > h2,
#main-content > h2 {
  font-size: 16px;
  color: #56738f;
  font-family: 'Droid Sans', 'Helvetica Neue', Arial, sans-serif; }

h2,
h3,
h4,
.pullquote {
  font-size: 24px;
  color: #003366;
  clear: both;
  padding: 10px 0px 3px;
  font-family: 'Droid Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: normal; }

.pullquote {
  font-size: 24px; }

h2 {
  font-size: 24px;
  font-weight: bold; }

h3 {
  font-size: 18px;
  font-weight: bold; }

h4 {
  font-size: 16px;
  font-weight: normal; }

p {
  margin-bottom: 8px; }

small {
  color: #666;
  line-height: 1.4; }

hr {
  overflow: hidden;
  visibility: hidden;
  padding: 0px;
  margin: 0px;
  border: 0px;
  clear: both; }

hr.visible {
  overflow: hidden;
  visibility: visible;
  padding: 20px 0px 0px 0px;
  margin: 0px 0px 20px 0px;
  border: 0px;
  clear: both;
  border-bottom: 1px solid #EDEDED; }

/*  Code styles */
pre, code {
  font-family: 'droid sans mono', monospace;
  font-size: 12px;
  margin: 0px;
  white-space: pre;
  background: #fafcff;
  word-wrap: normal;
  outline: 1px solid #b9cfe7; }

code {
  padding: 1px 2px; }

pre code {
  display: block;
  padding: 10px;
  outline: 0px;
  margin: 0px; }

pre {
  margin: 5px 0px 10px;
  padding: 0px;
  overflow-x: auto; }
  pre::-webkit-scrollbar {
    width: 7px;
    height: 7px; }
  pre::-webkit-scrollbar-track-piece {
    background-color: #ccdced;
    -webkit-border-radius: 5px;
    margin: 1px; }
  pre::-webkit-scrollbar-thumb:vertical {
    height: 50px;
    background-color: #93b5da;
    -webkit-border-radius: 5px; }
  pre::-webkit-scrollbar-thumb:vertical:hover, pre::-webkit-scrollbar-thumb:vertical:focus {
    height: 50px;
    background-color: #6d9bcd;
    -webkit-border-radius: 5px; }
  pre::-webkit-scrollbar-thumb:horizontal {
    width: 50px;
    background-color: #93b5da;
    -webkit-border-radius: 5px; }
  pre::-webkit-scrollbar-corner {
    background: #56738f; }

a {
  text-decoration: none; }
  a:hover, a:focus {
    -webkit-transition: color 150ms linear;
    -moz-transition: color 150ms linear;
    transition: color 150ms linear;
    color: #cc3333; }

.main a {
  border-bottom: 1px solid; }
  .main a:visited {
    color: #4d476b;
    border-bottom: 1px solid #4d476b; }
    .main a:visited:hover {
      color: #cc3333;
      border-bottom: 1px solid #cc3333; }

/*  List styles */
ul, ol {
  margin: 10px 0px 10px 0px;
  padding: 0px 0px 0px 20px; }

ul li, ol li {
  margin-bottom: 5px; }

ul li p, ol li p {
  margin-bottom: 0px; }

/* Override for nested ps in lis */
/*  Table styles  */
table {
  border-collapse: collapse;
  text-align: left;
  margin-top: 10px; }

table caption {
  text-align: left;
  padding-bottom: 5px; }

table td {
  padding: 10px; }

table th {
  font-family: "Droid Sans", Sans-serif; }

table tr,
table th {
  border: 1px solid #b9cfe7;
  padding: 10px; }

table tbody tr:nth-child(2n+1) {
  background: #EEF7FF; }

/*  Form Styles */
form {
  overflow: hidden;
  margin-top: 15px;
  margin-bottom: 15px; }

form fieldset {
  position: relative;
  margin-bottom: 10px;
  background: #fafcff;
  padding: 5px 0px 20px;
  border: 1px solid #b9cfe7; }

form legend {
  display: none; }

form h3, form h4, form h5 {
  font-family: "Droid Sans", sans-serif;
  font-weight: bold;
  font-size: 14px;
  margin: 0px 15px 15px;
  padding-bottom: 4px;
  border-bottom: 1px solid #dfe9f4;
  display: block;
  text-align: center; }

form p {
  text-align: center;
  padding: 1px 80px; }

form label {
  line-height: 1.3;
  padding: 5px 0px; }

form input,
form textarea,
form select {
  padding: 5px;
  margin: 0px 0px 6px;
  max-width: 100%; }

form select {
  margin-top: 8px;
  margin-bottom: 8px; }

form textarea {
  -webkit-appearance: textfield; }

form label {
  font-family: "Droid Sans", sans-serif;
  font-weight: bold;
  margin-top: 0px;
  text-align: right;
  clear: both; }

form .follower {
  margin: 0px; }

form .follower label {
  display: block;
  font-family: sans-serif;
  text-align: left;
  font-weight: normal; }

form .follower input {
  margin: 0px 3px 0px 0px; }

form .col-1,
form .col-2,
form .col-3,
form .col-4,
form .col-5,
form .col-6 {
  float: left;
  display: inline;
  margin-left: 16px;
  margin-right: 0px; }

form .col-1 {
  width: 95px; }

form .col-2 {
  width: 206px; }

form .col-3 {
  width: 317px; }

form .col-4 {
  width: 428px; }

form .col-5 {
  width: 539px; }

form .col-6 {
  width: 650px; }

form .push-1 {
  margin-left: 127px; }

form .push-2 {
  margin-left: 238px; }

form .push-3 {
  margin-left: 349px; }

form .push-4 {
  margin-left: 460px; }

form .push-5 {
  margin-left: 571px; }

form .first {
  margin-left: 0px; }

form button,
input[type=submit] {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
  -webkit-text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
  -moz-text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
  -o-text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
  background-color: #164682;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#446791), to(#164682));
  background-image: -moz-linear-gradient(top, #446791, #164682);
  width: auto;
  padding: 9px 18px 8px;
  margin: 10px 10px 0px 0px;
  color: #fff;
  border: 0px;
  vertical-align: middle; }

form button:active,
input[type=submit]:active,
.button:active {
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.2); }

/*  Form messages */
.message {
  display: block;
  background: #f9f9f9 url("../images/message-bg.png") 2% 50% no-repeat;
  padding: 25px 20px 25px 95px;
  margin: 0px 0px 20px;
  border: 1px solid #c6c6c6; }

.message p {
  text-align: left;
  padding: 0px; }

.message ul {
  list-style: decimal outside; }

.error {
  color: #600;
  background: #ffe6e5 url("../images/error-bg.png") 2% 50% no-repeat;
  border: 1px solid #dfa19f; }

.alert {
  color: #002244;
  background: #fafcff url("../images/alert-bg.png") 2% 50% no-repeat;
  border: 1px solid #afc4e4; }

/*  Navigation styles */
.nav {
  float: right;
  margin-top: 40px; }

.nav h2 {
  margin-left: 10px; }

.nav h2 {
  margin-bottom: 10px; }

.nav ul {
  list-style-image: url("../images/list-style.png") no-repeat -5px -5px;
  list-style: none;
  margin: 0px 0px 0px 10px;
  padding: 0px; }

.nav ul li {
  margin: 12px 0px 0px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Droid Sans', 'Helvetica Neue', Arial, sans-serif;
  color: #3e658e;
  line-height: 1.3; }

.nav ul li a {
  color: #13435c;
  border-bottom: none;
  display: block; }

.nav ul li a:hover, .nav ul li a:focus {
  border: 0px;
  color: #cc3333; }

.nav ul li ul {
  margin: 4px 0px 0px;
  padding: 0px; }

.nav ul li ul li {
  position: relative;
  margin: 0px 0px 2px;
  border-top: 1px solid #dfe9f4;
  padding: 8px 1px 4px 0px;
  color: #3e658e;
  font-size: 13px;
  font-family: sans-serif;
  font-weight: normal; }

.nav ul li ul li a {
  color: #13435c;
  border-bottom: none; }

.nav ul li ul li a:hover, .nav ul li ul li a:focus {
  color: #cc3333; }

.nav ul li ul li ul {
  padding: 0px 0px 5px;
  margin-top: 8px;
  margin-bottom: -6px;
  background: #dfe9f4; }

.nav ul li ul li ul li {
  padding-bottom: 0px;
  padding-left: 10px; }

.nav ul li ul li.open ul li a,
.nav ul li ul li.closed ul li a {
  padding-right: 0px; }

.nav ul li ul li ul li ul {
  margin: 2px 10px -6px 0px;
  padding: 0px; }

.nav ul li ul li ul li ul li {
  position: relative;
  padding: 1px 0px 3px 16px; }

.nav ul li ul li ul li ul li a:before {
  position: absolute;
  left: 0px;
  content: "— ";
  color: #93b5da; }

.nav ul li.open,
.nav ul li.closed {
  position: relative; }

.nav ul li.open a,
.nav ul li.closed a {
  padding-right: 60px; }

.nav ul li.open ul {
  display: block; }

.nav ul li.closed ul {
  display: none; }

.nav ul li.open .more,
.nav ul li.closed .more {
  padding-right: 18px; }

.nav ul li .more {
  -webkit-transition: background 100ms linear;
  -moz-transition: background 100ms linear;
  transition: background 100ms linear;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  position: absolute;
  top: 6px;
  right: 0px;
  background: #dfe9f4;
  padding: 3px 18px 2px 8px;
  font-size: 11px; }

.nav ul li .more:hover, .nav ul li .more:focus {
  background: #b9cfe7;
  color: #2f4c6a; }

.nav ul li .more:after {
  position: absolute;
  right: 6px;
  top: 8px;
  content: ' ';
  width: 0px;
  height: 0px;
  border: 4px solid transparent;
  border-bottom: 0px;
  border-top: 4px solid #3e658e; }

.nav ul li.open .more:after {
  border: 4px solid transparent;
  border-top: 0px;
  border-bottom: 4px solid #3e658e; }

/*  Main styles */
.col-2.aside {
  float: right;
  display: inline;
  padding: 40px 0px 0px; }

.main {
  float: left;
  display: inline;
  background: url("../images/heading_shadow.png") no-repeat top center;
  padding: 40px 0px 0px; }

.main h1 {
  clear: both; }

.main .section {
  margin-bottom: 20px; }

.main .section h1 {
  margin-bottom: 10px; }

.main .nav {
  margin-top: 0px; }

.main #newsbanner {
  margin: -20px 0px 10px; }

/*  Blockquotes  */
blockquote {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  color: #3e658e;
  background: #dfe9f4 url("../images/quote_marks.png") no-repeat 18px 14px;
  position: relative;
  margin: 20px 0px 20px;
  font-family: 'Droid Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: bold;
  font-size: 20px; }

blockquote p {
  padding: 13px 28px 0px 18px;
  margin: 0px 0px 10px;
  text-indent: 34px; }

blockquote a {
  float: right;
  position: relative;
  top: -15px;
  right: 15px;
  color: #003366;
  font-weight: normal;
  font-size: 14px;
  clear: both;
  margin-top: 10px;
  border: 0px; }

blockquote.opening-hours {
  margin-top: 10px;
  background: #dfe9f4 url("../images/opening_hours.png") no-repeat 12px 12px; }

blockquote.opening-hours {
  font-family: sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #3e658e; }

blockquote.opening-hours p {
  padding: 13px 13px 13px 43px;
  text-indent: 0px; }

/*  Footer styles */
.footer {
  display: block;
  margin: 30px 0px -24px;
  padding: 30px 0px;
  clear: both;
  color: #686868;
  background: #f2f2f2;
  line-height: 1.6em; }

.footer p.footertitle {
  font-family: 'Droid Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: bold;
  clear: both;
  font-size: 20px;
  margin: 0px 0px 14px 20px;
  color: #686868; }

.footer h2, .footer h3, .footer h4 {
  color: #686868;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 13px; }

.footer a {
  color: #686868; }

.footer ul {
  margin-top: 0px;
  padding: 0px;
  list-style: none; }

.footer #org-details, .footer ul {
  float: left;
  padding: 0px; }

.footer ul li {
  clear: both;
  margin: 0px;
  padding: 0px;
  text-indent: 0px; }

.footer li strong {
  margin: 0px;
  padding: 0px; }

.footer a.facebook, .footer a.twitter {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  color: #f2f2f2;
  background-color: #686868;
  padding: 3px 9px 3px 36px;
  float: left;
  text-decoration: none;
  margin: 6px 2px 0px; }

ul.news {
  list-style: none;
  padding: 0px;
  margin: 10px 0px 0px;
  border-top: 1px solid #ededed; }

ul.news li {
  border-bottom: 1px solid #ededed;
  padding: 6px 0px;
  float: left; }

ul.news a {
  font-family: 'Droid Sans', 'Helvetica Neue', Arial, sans-serif;
  color: #13435c;
  font-weight: bold;
  font-size: 14px;
  width: 105px;
  padding-right: 10px;
  float: left;
  border: 0px; }

ul.news .timestamp {
  width: 75px;
  float: right;
  color: #56738f; }

.page-preview {
  float: left;
  padding-top: 0px;
  margin-top: 0px; }

.page-preview img {
  margin-top: 10px;
  margin-bottom: 6px;
  display: block;
  clear: both; }

.page-preview h2 {
  font-weight: bold;
  font-size: 18px;
  padding: 0px; }

.page-preview .button {
  margin-top: 0px;
  margin-bottom: 26px; }

/*  Visual lists -i.e. lists that aren't simple dot points or ordered lists */
ul.visual {
  margin: 0px;
  padding: 0px;
  list-style: none; }

ul.visual li {
  margin-bottom: 10px; }

ul.visual li strong {
  padding-right: 10px;
  margin-right: 5px;
  text-decoration: underline; }

ul.visual li img {
  margin-bottom: 10px; }

ul.visual li a {
  clear: right; }

ul.inline, ul.inline li {
  float: left;
  position: relative; }

/*  Non-form button styles  */
a.button {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
  -webkit-text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
  -moz-text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
  -o-text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 150ms linear;
  -moz-transition: all 150ms linear;
  transition: all 150ms linear;
  background-color: #164682;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#446791), to(#164682));
  background-image: -moz-linear-gradient(top, #446791, #164682);
  display: inline-block;
  padding: 5px 14px 4px;
  margin: 5px 5px 10px 0px;
  color: #fff;
  border: 0px;
  vertical-align: middle;
  float: left; }

a.button,
a.button:visited {
  color: #fff;
  border: 0px;
  border: 0px; }
  a.button:hover,
  a.button:visited:hover {
    color: #fff; }

a.button:after {
  content: "›";
  font-family: trebuchet;
  font-size: 1.7em;
  font-weight: bold;
  margin: 0px 0px 0px 12px;
  line-height: 0.5;
  color: #56738f; }

a.button:hover, a.button:focus {
  box-shadow: 0px 0px 10px #446791;
  -webkit-box-shadow: 0px 0px 10px #446791;
  -moz-box-shadow: 0px 0px 10px #446791;
  -o-box-shadow: 0px 0px 10px #446791; }

/*  Document/asset links  */
a.icon {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -webkit-transition: background 100ms linear;
  -moz-transition: background 100ms linear;
  transition: background 100ms linear;
  display: inline-block;
  background: #003366;
  border: 0px;
  padding: 8px 14px 8px 36px;
  margin: 12px 0px;
  color: #fff;
  font-family: 'Droid Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: 13px;
  font-weight: bold; }
  a.icon:hover, a.icon:focus {
    background-color: #3e658e; }
  a.icon:visited {
    color: #fff;
    border: none; }
    a.icon:visited:hover {
      color: #fff; }

a.document {
  position: relative;
  background: #003366 url("../images/icon-document-small.png") center left no-repeat; }

a.document:before {
  content: attr(rel);
  position: absolute;
  top: 50%;
  left: 21px;
  font-size: 8px;
  margin-top: 4px;
  line-height: 8px;
  text-transform: uppercase; }

a.media {
  background: #003366 url("../images/icon-media-small.png") center left no-repeat; }

a.rss {
  background: #003366 url("../images/icon-rss-small.png") center left no-repeat; }

a.twitter {
  background: #003366 url("../images/icon-twitter-small.png") center left no-repeat; }

a.facebook {
  background: #003366 url("../images/icon-facebook-small.png") center left no-repeat; }

a.large {
  font-size: 16px;
  padding: 18px 22px 18px 68px; }

a.media.large {
  background: #003366 url("../images/icon-media.png") center left no-repeat; }
  a.media.large:hover, a.media.large:focus {
    background-color: #3e658e; }

a.document.large {
  background: #003366 url("../images/icon-document.png") center left no-repeat; }
  a.document.large:hover, a.document.large:focus {
    background-color: #3e658e; }

a.media em,
a.document em,
a.media strong,
a.document strong {
  display: block;
  color: #dfe9f4;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1px; }

a.media em,
a.document em {
  display: inline;
  color: #dfe9f4;
  padding-left: 7px;
  font-size: 12px;
  font-style: normal;
  letter-spacing: 0px;
  text-transform: lowercase; }

/*  Heading styles  */
.header {
  margin: 0px 0px 26px;
  overflow: hidden; }

.header hr {
  visibility: hidden;
  margin: 0px;
  padding: 0px;
  height: 0px;
  overflow: hidden;
  border: 0px; }

.header a.logo {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  float: left;
  position: absolute;
  z-index: 10000;
  top: 25px;
  background: #003366 url("../images/uom_logo.gif") no-repeat 15px 15px;
  width: 130px;
  height: 130px;
  display: block; }

.header .hgroup {
  margin: -2px 0px 0px 145px;
  display: block;
  position: relative; }

.header .hgroup h1 {
  text-shadow: 1px 1px 2px #002244;
  -webkit-text-shadow: 1px 1px 2px #002244;
  -moz-text-shadow: 1px 1px 2px #002244;
  -o-text-shadow: 1px 1px 2px #002244;
  padding: 40px 0px 12px;
  font-size: 33px;
  color: #fff;
  line-height: 1; }

.header .hgroup h1 a {
  color: #fff; }

.header .hgroup p {
  font-family: 'Droid Sans', 'Helvetica Neue', Arial, sans-serif;
  position: absolute;
  top: 8px;
  font-size: 17px;
  font-weight: bold;
  white-space: nowrap; }

.header .hgroup p a,
.header .hgroup p a:hover,
.header .hgroup p a:focus,
.header .hgroup p a:visited {
  text-shadow: 1px 1px 2px #003366;
  -webkit-text-shadow: 1px 1px 2px #003366;
  -moz-text-shadow: 1px 1px 2px #003366;
  -o-text-shadow: 1px 1px 2px #003366;
  text-decoration: none;
  font-size: 17px;
  color: #fff;
  font-weight: normal;
  line-height: 1; }

.header #headingtext {
  clear: left;
  padding-top: 20px;
  margin-top: 20px; }

.header #headingtext p {
  text-shadow: 1px 1px 2px #003366;
  -webkit-text-shadow: 1px 1px 2px #003366;
  -moz-text-shadow: 1px 1px 2px #003366;
  -o-text-shadow: 1px 1px 2px #003366;
  font-family: 'Droid Sans', 'Helvetica Neue', Arial, sans-serif;
  color: #dfe9f4;
  font-size: 21px;
  line-height: 1.3;
  margin-left: 20px; }

.header #headingtext p.title {
  text-shadow: 1px 1px 2px #003366;
  -webkit-text-shadow: 1px 1px 2px #003366;
  -moz-text-shadow: 1px 1px 2px #003366;
  -o-text-shadow: 1px 1px 2px #003366;
  color: #dfe9f4;
  padding-top: 3px;
  line-height: 1.3;
  font-size: 16px;
  font-weight: bold; }

.header #headingtext img {
  width: 210px;
  margin: -60px 0px 0px; }

/*  Newsbannner styles  */
#newsbanner {
  background: #fff;
  padding: 5px !important;
  border: 1px solid #f2f2f2;
  margin-left: -6px !important;
  margin-right: -6px !important;
  width: 930px;
  clear: both;
  overflow: hidden;
  margin: 0px 0px -15px 15px !important; }

#newsbanner .banner {
  width: 680px;
  height: 300px; }

#newsbanner #banner-clip {
  width: 680px;
  height: 300px;
  overflow: hidden;
  position: relative;
  float: left; }

#newsbanner ol {
  counter-reset: section;
  font-family: 'Droid Sans', 'Helvetica Neue', Arial, sans-serif;
  padding-left: 0px;
  margin: 0px;
  color: #686868;
  width: 245px;
  float: right;
  list-style: none; }

#newsbanner ol li {
  border-bottom: 1px solid #ededed;
  line-height: 1.4;
  padding-left: 28px;
  padding-right: 0px;
  margin: 0px;
  position: relative; }
  #newsbanner ol li:last-child {
    border-bottom: none; }
  #newsbanner ol li:hover, #newsbanner ol li:focus, #newsbanner ol li.selected {
    background: #dce3ea;
    color: rgba(0, 51, 102, 0.9); }
  #newsbanner ol li.selected a, #newsbanner ol li:hover a, #newsbanner ol li:focus a {
    color: rgba(0, 51, 102, 0.9); }

#newsbanner ol li:before {
  counter-increment: section;
  content: counter(section) ".";
  position: absolute;
  top: 8px;
  left: 16px; }

#newsbanner ol li a {
  display: block;
  height: 66px;
  text-decoration: none;
  padding: 8px 5px 0px 5px;
  font-weight: bold;
  font-size: 14px;
  color: #4e4e4e; }

.banner {
  position: relative;
  overflow: hidden; }

.banner img {
  display: block; }

.banner .banner-text {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  background: #314778;
  background: rgba(49, 71, 120, 0.8);
  padding: 10px 0px;
  pointer-events: none; }

.banner .banner-text h2,
.banner .banner-text h3 {
  margin-left: 20px;
  padding-top: 0px;
  color: #fff; }

.banner .banner-text h2 a {
  font-size: 16px;
  color: #dfe9f4;
  border: 0px; }

.banner .banner-text h3 a {
  font-size: 28px;
  font-weight: normal;
  padding: 5px 0px;
  color: #fff;
  line-height: 1.3;
  letter-spacing: 1px;
  border: 0px; }

.polaroid {
  background: #fff;
  padding: 5px !important;
  border: 1px solid #f2f2f2;
  margin-left: -6px !important;
  margin-right: -6px !important; }

blockquote {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  font-family: 'Droid Sans', 'Helvetica Neue', Arial, sans-serif;
  background: #dfe9f4;
  color: #3e658e;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0px 0px 0px 7px;
  position: relative;
  left: -5px; }

blockquote ul {
  list-style: none;
  padding: 5px 0px 0px; }

blockquote ul li {
  position: relative; }

blockquote ul li:before {
  content: "›";
  position: absolute;
  left: 3px; }

blockquote ul li a {
  font-size: 14px;
  color: #3e658e;
  border: 0px;
  padding: 0px 0px 0px 17px; }

blockquote ul li a strong {
  color: #003366; }

blockquote {
  background: #dfe9f4 url("../images/quote_marks.png") no-repeat 18px 14px;
  padding: 0px;
  margin-top: 0px; }

/*  Backgrounds  */
body.home {
  background: url("../images/backgrounds/homepage-blue.jpg") top center repeat-x; }

body.science-home {
  background: url("../images/backgrounds/science-home.jpg") top center repeat-x; }

body.yellow-home {
  background: url("../images/backgrounds/yellow-home.jpg") top center repeat-x; }

body.green-home {
  background: url("../images/backgrounds/green-home.jpg") top center repeat-x; }

body.blue {
  background: url("../images/backgrounds/blue.jpg") top center repeat-x; }

body.science {
  background: url("../images/backgrounds/science.jpg") top center repeat-x; }

body.yellow {
  background: url("../images/backgrounds/yellow.jpg") top center repeat-x; }

body.green {
  background: url("../images/backgrounds/green.jpg") top center repeat-x; }

body.clouds {
  background: url("../images/backgrounds/clouds.jpg") top center repeat-x; }

body.clouds .hgroup h1,
body.clouds .hgroup h1 a,
body.clouds .hgroup p a,
body.clouds #headingtext h1,
body.clouds #headingtext p,
body.yellow .hgroup h1,
body.yellow .hgroup h1 a,
body.yellow .hgroup p a,
body.yellow #headingtext h1,
body.yellow #headingtext p,
body.yellow-home .hgroup h1,
body.yellow-home .hgroup h1 a,
body.yellow-home .hgroup p a,
body.yellow-home #headingtext p.title,
body.yellow-home #headingtext p {
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
  -webkit-text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
  -moz-text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
  -o-text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
  color: #003366; }

/*  IE Fixes  */
.header .hgroup p {
  *top: 8px; }

.main {
  *background: none; }

.pullout {
  *padding: 0px;
  *left: 0px; }

.pullout ul li a {
  *padding: 0px; }

.footer li strong {
  *margin-left: -15px; }

body .main-block,
body.headingblock .main-block {
  *background: #fff; }

a.button:hover, a.button:focus {
  *background: #446791; }

@media print {
  * {
    background: white !important;
    text-shadow: none !important;
    color: black !important;
    border-color: #d0d0d0 !important; }

  .wrapper {
    width: auto !important;
    margin-left: auto;
    margin-right: auto; }

  .header {
    margin-bottom: 0px !important; }

  .hgroup {
    margin-left: 20px !important;
    color: #000 !important; }

  .hgroup a {
    color: black !important; }

  .main {
    font-size: 110% !important; }

  .main a:after {
    content: " (" attr(href) ")"; }

  .main abbr:after {
    content: " (" attr(title) ")"; }

  .main .ir a:after {
    content: ""; }

  /* Don't show links for images */
  pre, blockquote, code {
    border: 1px solid #d0d0d0;
    page-break-inside: avoid;
    outline: 0.5mm solid #d0d0d0 !important; }

  thead {
    display: table-header-group; }

  /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img {
    page-break-inside: avoid; }

  @page {
    margin: 1cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; }

  #newsbanner, div.nav, .footer div#local, #footernav, #g-header {
    display: none; }

  div.aside {
    display: none !important; }

  a.icon {
    border: 0.5mm solid #d0d0d0 !important; } }
