@font-face {
  font-family: 'droid sans'; font-weight: normal; font-style: normal;
  src: url('../fonts/DroidSans-webfont.eot');
  src: url('../fonts/DroidSans-webfont.eot?#iefix') format('eot'),
       url('../fonts/DroidSans-webfont.woff') format('woff'),
       url('../fonts/DroidSans-webfont.ttf') format('truetype'),
       url('../fonts/DroidSans-webfont.svg#webfontw7zqO19G') format('svg');
}

@font-face {
  font-family: 'droid sans'; font-weight: bold; font-style: normal;
  src: url('../fonts/DroidSans-Bold-webfont.eot');
  src: url('../fonts/DroidSans-Bold-webfont.eot?#iefix') format('eot'),
       url('../fonts/DroidSans-Bold-webfont.woff') format('woff'),
       url('../fonts/DroidSans-Bold-webfont.ttf') format('truetype'),
       url('../fonts/DroidSans-Bold-webfont.svg#webfontSOhoM6aS') format('svg');
}

@font-face {
  font-family: 'droid sans mono'; font-weight: normal; font-style: normal;
  src: url('../fonts/droidsansmono-webfont.eot');
  src: url('../fonts/droidsansmono-webfont.eot?#iefix') format('eot'),
       url('../fonts/droidsansmono-webfont.woff') format('woff'),
       url('../fonts/droidsansmono-webfont.ttf') format('truetype'),
       url('../fonts/droidsansmono-webfont.svg#webfontcbE9jlbh') format('svg');
}

@mixin droid-sans {
  font-family: 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

@mixin droid-sans-mono {
  font-family: 'droid sans mono', 'Bitstream Vera Sans Mono', 'Lucida Console', 'courier new', monospace; }

@mixin sans-serif {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; }