/*

      General buttons

                             */
button,
.button,
input[type=submit],
form.wbg input[type=submit] {
  @include border-radius(4px);
  @include box-shadow;
  @include text-shadow;
  @include transition(all, 150ms, linear);
  @include ttb-gradient(#446791, #164682);
  width: auto;
  vertical-align: middle;
  padding: 9px 18px 8px; margin: 10px 10px 0px 0px;
  color: #fff; border: 0px;
  &:hover {
    @include box-shadow(0px, 0px, 10px, rgba(68, 103, 145, 1));
    color: #fff; }
  &:active {
    @include inset-box-shadow; }
}

/*

      Generic forms

                            */
form {

  h4,
  h5 {
    margin: 0px; padding: 10px 0px 0px; }
  legend {
    @include droid-sans;
    font-size: 14px;
    margin: 0px; padding: 18px 0px 3px;
    font-weight: bold; line-height: 1.2; }
  p,
  label {
    display: block; clear: both;
    margin: 0px; padding: 3px 0px 2px;
    line-height: 1.3; vertical-align: baseline; }
  label {
    @include droid-sans;
    font-weight: bold;
    margin-top: 7px; }
  p em {
    color: #777; }
  input,
  textarea,
  select {
    @include sans-serif;
    display: block;
    padding: 5px; margin: 2px 2px 0px 0px;
    min-width: 40%; max-width: 100%;
    font-size: 13px;
    &:placeholder {
      color: #ccc; color: rgba(0, 0, 0, 0.35); }
    &:-moz-placeholder {
      color: #ccc; color: rgba(0, 0, 0, 0.35); }
    &::-webkit-input-placeholder {
      color: #ccc; color: rgba(0, 0, 0, 0.35); }
  }
  label input {
    display: inline;
    padding: 1px; margin-bottom: 0px; }
  select {
    margin: 8px 0px 10px; }
  textarea {
    min-height: 80px;
    -webkit-appearance: textfield; }
  input[type="submit"] {
    min-width: 0px; }

  /*  Field error highlighting  */
  input.errored,
  .errored input,
  textarea.errored,
  .errored textarea {
    color: #c33; background: #fef0f0; border: 2px solid desaturate(darken(#ffe6e5, 20%), 50%); }
  .errored {
    color: #c33; }
}

/*

      Form messages

                            */
.message {
  display: block;
  margin: 0px 0px 20px; padding: 25px 20px 25px 95px;
  background: #f9f9f9 url('../images/message-bg.png') 2% 50% no-repeat; border: 1px solid desaturate(darken(#f9f9f9, 20%), 50%); }
.message p {
  padding: 0px;
  text-align: left; }
.error {
  color: #600; background: #ffe6e5 url('../images/error-bg.png') 2% 50% no-repeat; border: 1px solid desaturate(darken(#ffe6e5, 20%), 50%); }
.alert {
  color: $darkestblue; background: #fafcff url('../images/alert-bg.png') 2% 50% no-repeat; border: 1px solid desaturate(darken(#fafcff, 20%), 50%); }

/*

      Opinionated forms

                                */
form.wbg {
  overflow: hidden;
  margin-top: 15px; margin-bottom: 15px;

  h3,
  h4,
  h5 {
    @include droid-sans;
    display: block;
    font-weight: bold; font-size: 14px; text-align: center;
    margin: 0px 15px 15px; padding-bottom: 4px;
    border-bottom: 1px solid $blockquote; }

  label {
    text-align: right; }

  fieldset {
    position: relative;
    margin-bottom: 10px; padding: 5px 0px 20px;
    border: 1px solid darken($blockquote, 10%); background: #fafcff; }
  fieldset.errored {
    border: 1px solid desaturate(darken(#ffe6e5, 20%), 50%); background: #ffe6e5;
    h3,
    h4 {
      color: #C33; border-bottom: 1px solid desaturate(darken(#ffe6e5, 20%), 50%); }
  }

    input,
    textarea {
      @include inset-box-shadow(1px, 1px, 2px);
      padding: 7px 9px; margin-bottom: 5px;
      border: 1px solid #999; border: 1px solid rgba(0, 0, 0, 0.3);
      &:focus {
        border: 1px solid darken($blockquote, 35%); }
    }

  .follower {
    margin: 0px; }
  .follower label {
    @include sans-serif;
    display: block;
    text-align: left; font-weight: normal; }
  .follower input {
    margin: 0px 3px 0px 0px; }
  /*  Hide the legend tag rather than attempting the tricky task of trying to style it appropriately */
  legend {
    text-indent: -999em;
    position: absolute; }

  button,
  .button,
  input[type=submit] {
    float: left;
    margin-right: 10px; }

  /*

        Sub-form columns

                              */
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6 {
    float: left; display: inline;
    margin-left: 16px; margin-right: 0px; }
  .col-1 {
    width: 95px; }
  .col-2 {
    width: 206px; }
  .col-3 {
    width: 317px; }
  .col-4 {
    width: 428px; }
  .col-5 {
    width: 539px; }
  .col-6 {
    width: 650px; }

  .push-1 {
    margin-left: 127px; }
  .push-2 {
    margin-left: 238px; }
  .push-3 {
    margin-left: 349px; }
  .push-4 {
    margin-left: 460px; }
  .push-5 {
    margin-left: 571px; }

  .first {
    margin-left: 0px; }
}