@media screen and (max-width: 480px) {
  body { font-size: 92%; }
  .wrapper { width: 455px; padding: 0px 10px; }
  .wrapper form fieldset { padding: 10px; }
  .wrapper form label { display: block; float: none; text-align: left; }
  .wrapper pre { width: 455px; float: left; }
  .nav { display: none; }
  pre code { width: 100%; }
  table { word-break: break-word; }

  h1,
  h2,
  h3,
  h4 { margin-top: 2em; margin-bottom: 0.5em; }

  .header .hgroup h1,
  .header .hgroup h2 { margin-top: 0px; }

  h1 + h2 { margin-top: 0em; }

  .headingblock { background-position-y: 40px !important; }
  .wrapper .main,
  .wrapper .col-2.aside { padding: 0px; }
  .wrapper .pullout { float: left; margin: 0px 0px 10px; padding: 10px 0px 10px 10px; position: static; left: 0px; width: 95%; }
  #newsbanner { display: none; }
  .wrapper  .banner { clear: both; padding: 0px; }
  .header #headingtext img { display: none; }
  .wrapper img { max-width: 100%; }

  ul.news li { width: 100%; }
  ul.news li a { width: 45%; }

  .wrapper .page-preview { float: left; border-bottom: 1px solid $blockquote; }
  .wrapper .page-preview h2 { margin: 0px; }
  .wrapper .page-preview img { clear: both; }
  .wrapper .page-preview p.button { margin-bottom: 20px; }

  .wrapper .polaroid { padding: 0px; border: 0px; box-shadow: none; -webkit-box-shadow: none; }

  #g-global-search #g-translate-button { display: none; }
  #footernav h3 { display: none; }
  body #g-header #g-global-menu li a { font-size: 19px; white-space: nowrap; }

  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12 { width: auto; margin-bottom: 15px; margin-left: 0px; float: none; }

  .footer .col-1,
  .footer .col-2,
  .footer .col-3,
  .footer .col-4,
  .footer .col-5,
  .footer .col-6,
  .footer .col-7,
  .footer .col-8,
  .footer .col-9,
  .footer .col-10,
  .footer .col-11,
  .footer .col-12 { margin-left: 20px; width: 45%; }

  .wrapper .push-1,
  .wrapper .push-2,
  .wrapper .push-3,
  .wrapper .push-4,
  .wrapper .push-5,
  .wrapper .push-6,
  .wrapper .push-7,
  .wrapper .push-8,
  .wrapper .push-9,
  .wrapper .push-10,
  .wrapper .push-11,
  .wrapper .push-12 { margin: 0px; }

  .wrapper form .col-1,
  .wrapper form .col-2,
  .wrapper form .col-3,
  .wrapper form .col-4,
  .wrapper form .col-5,
  .wrapper form .col-6,
  .wrapper form .col-7,
  .wrapper form .col-8,
  .wrapper form .col-9,
  .wrapper form .col-10,
  .wrapper form .col-11,
  .wrapper form .col-12 { width: auto; margin: 0px; }
}