@media screen and (max-width: 979px) {
  body { -webkit-text-size-adjust: none; }

  #main-content { width: 73%; }
  .aside { width: 22%; margin-left: 2%; }
  #main-content .col-2 { width: 31%; margin-left: 3%; }
  #main-content .first { margin-left: 0%; }
  #main-content .col-2 img { max-width: 100%; }
  pre { max-width: 97% !important; }
  table { word-break: break-word; max-width: 97% !important; }
}

@media screen and (max-width: 630px) {
  .mobile-nav { margin-top: 30px; }

  .wrapper { width: auto; padding: 0px 10px; }
  .wrapper form fieldset { padding: 10px; }
  .wrapper form label { display: block; float: none; text-align: left; }
  .wrapper pre { width: 100%; float: left; }
  .nav { display: none; }

  h1,
  h2,
  h3,
  h4 { margin-top: 2em; margin-bottom: 0.5em; }

  .header .hgroup h1,
  .header .hgroup h2 { margin-top: 0px; }

  h1 + h2 { margin-top: 0em; }

  .headingblock { background-position-y: 40px !important; }
  .wrapper .main,
  .wrapper .col-2.aside { width: 100%; padding: 0px; clear: both; overflow: hidden; }
  .wrapper .pullout { float: left; margin: 0px 0px 10px; padding: 10px 0px 10px 10px; position: static; left: 0px; width: 95%; }
  .wrapper  .banner { clear: both; padding: 0px; }
  .header #headingtext { display: none; background: rgb(0, 51, 102); background: rgba(0, 51, 102, 0.8); padding: 15px; border-radius: 8px; }
  body .header #headingtext p { margin-left: 0px; }
  .header #headingtext img, .header #headingtext p.title { display: none; }
  .wrapper img { max-width: 100%; }

  #main-content { width: 100%; }
  #main-content .col-2 { width: 45%; }

  body #newsbanner { margin-left: 0px !important;}

  body #newsbanner ol li { padding-left: 3px; }
  body #newsbanner ol li a { font-size: 0.7em; height: auto; padding-bottom: 4px; }
  body #newsbanner ol li:before { content: ""; }

  ul.news li { width: 100%; }
  ul.news li a { width: 45%; }

  body .page-preview { float: left; width: 45%; margin-right: 2%; border-bottom: 1px solid $blockquote; }
  body .page-preview h2 { margin: 0px; }
  body .page-preview p { float: left; font-size: 11px; }
  body .page-preview img { clear: both; max-width: 100%; }
  body .page-preview .button { display: block; width: 35%; clear: both; float: none; margin-bottom: 20px; font-size: 12px; }

  .wrapper .polaroid { padding: 0px; border: 0px; box-shadow: none; -webkit-box-shadow: none; }

  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12 { width: auto; margin-bottom: 15px; margin-left: 0px; float: none; }

  .footer .col-1,
  .footer .col-2,
  .footer .col-3,
  .footer .col-4,
  .footer .col-5,
  .footer .col-6,
  .footer .col-7,
  .footer .col-8,
  .footer .col-9,
  .footer .col-10,
  .footer .col-11,
  .footer .col-12 { margin-left: 2%; width: 45%; }

  .wrapper .push-1,
  .wrapper .push-2,
  .wrapper .push-3,
  .wrapper .push-4,
  .wrapper .push-5,
  .wrapper .push-6,
  .wrapper .push-7,
  .wrapper .push-8,
  .wrapper .push-9,
  .wrapper .push-10,
  .wrapper .push-11,
  .wrapper .push-12 { margin: 0px; }

  .wrapper form .col-1,
  .wrapper form .col-2,
  .wrapper form .col-3,
  .wrapper form .col-4,
  .wrapper form .col-5,
  .wrapper form .col-6,
  .wrapper form .col-7,
  .wrapper form .col-8,
  .wrapper form .col-9,
  .wrapper form .col-10,
  .wrapper form .col-11,
  .wrapper form .col-12 { width: auto; margin: 0px; }
}

@media screen and (max-width: 480px) {
  body .header .hgroup h1 { font-size: 24px; line-height: 1.5; padding-top: 30px; }
  body .page-preview { width: 80%; }
  body #newsbanner ol li a { font-size: 0.8em; }

  #main-content .col-2 { width: 100%; margin-left: 0%; }
}