@media print {
  @page {
    margin: 1cm; }

  * {
    background: white !important; color: black !important; border-color: #d0d0d0 !important;
    text-shadow: none !important; }
  .wrapper {
    width:auto !important;
    margin-left: auto; margin-right: auto; }
  .header {
    margin-bottom: 0px !important;
    .hgroup {
      margin-left:20px !important;
      color:#000 !important; }
    .hgroup a {
      color: black !important; }
  }

  .main {
    font-size: 110% !important;
    a:after {
      content: " (" attr(href) ")"; } 
    abbr:after {
      content: " (" attr(title) ")"; }
    .ir a:after {
      content: ""; }  /* Don't show links for images */
  }

  pre,
  code,
  blockquote {
    border: 1px solid #d0d0d0; outline: 0.5mm solid #d0d0d0 !important;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */ 

  tr,
  img {
    page-break-inside: avoid; }
  p,
  h2,
  h3 {
    orphans: 3; widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; }

  div.aside {
    display:none !important; }
  a.icon {
    border: 0.5mm solid #d0d0d0 !important; }

  /*  Don't print the header, footer or navigation  */
  div.nav,
  #g-header,
  #footernav,
  #newsbanner,
  .footer div#local {
    display: none; }
}