/* Colour definitions */
$uniblue        :   #036;
$darkbluetext   :   #036;
$lightbluetext  :   #56738F;
$darkestblue    :   #024;
$highlightred   :   #c33;
$blockquote     :   #dfe9f4;
$blockquotetext :   #3e658e;
$lightgrey      :   #f2f2f2;
$darkgrey       :   #686868;
$anchorcolour   :   #13435C;
$visitedcolour  :   #4D476B;
$navanchorcolour:   #3e658e;

@mixin border-radius($radius: 3px) {
  border-radius: $radius; -webkit-border-radius: $radius; -moz-border-radius: $radius; -o-border-radius: $radius; }

@mixin text-shadow($x: 1px, $y: 1px, $blur: 0px, $colour: rgba(0, 0, 0, 0.3)) {
  text-shadow: $x $y $blur $colour; -webkit-text-shadow: $x $y $blur $colour; -moz-text-shadow: $x $y $blur $colour; -o-text-shadow: $x $y $blur $colour; }

@mixin box-shadow($x: 2px, $y: 2px, $blur: 4px, $colour: rgba(0, 0, 0, 0.2)) {
  box-shadow: $x $y $blur $colour; -webkit-box-shadow: $x $y $blur $colour; -moz-box-shadow: $x $y $blur $colour; -o-box-shadow: $x $y $blur $colour; }

@mixin inset-box-shadow($x: 2px, $y: 2px, $blur: 4px, $colour: rgba(0, 0, 0, 0.2)) {
  box-shadow: inset $x $y $blur $colour; -webkit-box-shadow: inset $x $y $blur $colour; -moz-box-shadow: inset $x $y $blur $colour; -o-box-shadow: inset $x $y $blur $colour; }

@mixin transition($prop, $time, $transition: linear) {
  -webkit-transition: $prop $time $transition; -moz-transition: $prop $time $transition; transition: $prop $time $transition; }

@mixin ttb-gradient($from, $to) {
  background-color: $to;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($from), to($to)); background-image: -moz-linear-gradient(top, $from, $to); }

@mixin polaroid {
  background: #fff; padding: 5px !important; border: 1px solid $lightgrey; margin-left: -6px !important; margin-right: -6px !important; }